<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>세부 내용 페이지</title>
</head>

<body>
    <h1> 포스트 내용</h1>

    <br>
    <input type="button" value="HOME" onclick="location.href ='/'" >

    <h2>제목 : {{post.title}} </h2>
    <h2>내용 : {{post.content}}</h2>

    <form action="{% url 'board:comments_create' post.pk %}", method="POST">
        {% csrf_token %}
        댓글: <input type="text" name="content"/>
            <input type="submit"value="Submit"/>
    </form>
    <ul>
        {% for comment in post.comment_set.all %}
        <li> {{comment.content}}
            <input type="button" value="삭제" onclick="location.href ='{% url 'board:comments_delete' post.pk comment.pk %}'" >
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'board:index' %}">List</a>
    <input type="button" value="목록 보기" onclick="location.href ='{% url 'board:index' %}'" >

    <br>
    <a href="{% url 'board:delete' post.pk %}">Delete</a>
    <input type="button" value="삭제하기" onclick="location.href ='{% url 'board:delete' post.pk %}'" >

    <br>
    <a href="{% url 'board:edit' post.pk %}">Update</a>
    <input type="button" value="수정하기" onclick="location.href ='{% url 'board:edit' post.pk %}'" >
</body>

</html>